#mar-top {
  margin-top: 25px;
  align-item: center;
}

#banner-map {
  width: 400px;
  height: 250px;
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5));
  p {
    color: white;
    font-size: 18px;
  }
}

.card-footer {
  background-color: white;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  padding: 15px 15px;
  p {
    font-size: 15px;
    font-weight: lighter;
    color: #CCC;
  }
}
