<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://res.cloudinary.com/logicisaliar/image/upload/v1529438437/Boat_logo.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="navbar-right-elements">
      <%= link_to "Become a Host", become_host_path %>
      <%= link_to "Log In", new_user_session_path  %>
    </div>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">My Boats</a></li>
          <li><a href="#">Requests</a></li>
          <li><a href="#">Bookings History</a></li>
          <%= link_to "Log Out", destroy_user_session_path , method: :delete, data:{ confirm: "Are you sure you want to log out?"} %>

        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">My Boats</a></li>
        <li><a href="#">Requests</a></li>
        <li><a href="#">Bookings History</a></li>
      </ul>
    </div>
  </div>
</div>
