<div class="wrapper">
  <div class="banner" id="banner-host">
    <div class="container">
      <div class="head">
        <h1>Why host with us?</h1>
      </div>
      <ol>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="host-box">
            <li>This is why. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="host-box">
            <li>This too. Quaerat fuga aut, magni adipisci nihil voluptas hic beatae?</li>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="host-box">
            <li>And this. Amet tenetur laudantium, ipsam doloremque incidunt libero ut, aut eum,</li>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="host-box">
            <li>Isn't that enough? distinctio nostrum molestiae.
            </li>
          </div>
        </div>
      </ol>
      <br>
      <br>
      <div class="btn btn-success block">
        <%= link_to "Get started", new_host_boat_path %>
      </div>
    </div>
  </div>
</div>
