<div class="wrapper">
  <div class="banner" id="banner-host">
    <div class="container">
      <div class="head">
        <h1>Become a host</h1>
        <h1>& earn a lot of money</h1>
      </div>
      <%= link_to "Get started", new_host_boat_path, class: "btn-medium" %>
      <br>
      <br>
      <br>
  <h3 class="title-show"> 1. Create an account   |   2. Upload your boat   |   3. Earn money </h3>
    </div>
  </div>
</div>

<!-- <ol>
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="host-box">
      <li>Create an account.</li>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="host-box">
      <li>This too. Quaerat fuga aut, magni adipisci nihil voluptas hic beatae?</li>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="host-box">
      <li>And this. Amet tenetur laudantium, ipsam doloremque incidunt libero ut, aut eum,</li>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="host-box">
      <li>Isn't that enough? distinctio nostrum molestiae.
      </li>
    </div>
  </div>
</ol>
-->
